.authorization-input {
  display: block;
  width: 272px;
  padding: 15px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0em;
  border: 1px solid #414549;
  border-radius: 4px;
  margin: 0px 0 15px 0;
  background-color: transparent;
  outline: none;
}

.input-wrapper {
  padding: 15px 0 0 0;
}
.authorization-label {
  padding: 0 0 0 10px;
  font-size: 12px;
  line-height: 16px;
}

.invalid-feedback {
  display: block;
  width: 272px;
  color: #fff;
  background-color: red;
  padding: 10px;
  margin: 0 0 10px 0;
}