#root {
  width: 100%;
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  width: 1440px;
  height: 800px;
  margin: 0 auto;
  border: 1px solid #000;
  background-color: #E7E2DE;
  background-image: url('./assets/image/background.png');
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper {
  width: 50%;
}
.wrapper-left {
  padding: 70px 0 0 70px;
}
.wrapper-right {
  padding: 63px 0 0 318px;
}
.app-title {
  font-size: 24px;
  /* font-family: Open Sans; */
  line-height: 33px;
  /* letter-spacing: 0em; */
}
