:root {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #E7E2DE;
  background-color: #000;
  color: #000;
}

